
footer{
    background-color: #011242;
    height: 350px;
    color: white;
    padding-left: 70px;
    position: relative;
    bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/*.r1{
    float: left;
    margin-left: 15px;
}
.r2{
    float: left;
    margin-left: 79px;
}
.r3{
    float: left;
    margin-left: 290px;
}
.r4{
    float: left;
    margin-left: 220px;
}*/
.r5 i{
    background-color: #E5001F;
    border-radius: 100%;
    padding: 10px;
    width: 15px;
    margin:5px;
    text-align: center;

 }
.copy{
    position: absolute;
    width: 1028px;
    bottom: 0;
    background-image: linear-gradient(to right, #011b63, #011242);
    padding: 10px 100px;
    margin-left: -70px;
    font-size: 15px;
}
.copy span span{
    margin-left: 40px;
    
}
.a{
    color: white;
    text-decoration: none;
}
.okk{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}